<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Add Book</title>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" \
			  rel="stylesheet"
			  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	</head>
	<body>
		
		<div class="container">
		
			<h3>Add New Book</h3>
			<hr/>
			<div></div>
			<div class="float-end" >
				<a th:href="@{/logout}" class="btn btn-danger">Logout</a>
			</div>
			<br/><br/>
			<form th:action="@{/saveBook}" th:object="${checkout}" method="POST">
				
				<input type="text" th:field="*{book.name}" class="form-control col-4 mb-4" placeholder="Enter Name" />
				
				<input type="text" th:field="*{book.lastName}" class="form-control col-4 mb-4" placeholder="Enter Author's Last Name" />

				<input type="text" th:field="*{book.firstName}" class="form-control col-4 mb-4" placeholder="Enter Author's First Name" />

				<input type="text" th:field="*{book.copy_number}" class="form-control col-4 mb-4" placeholder="Enter Copy Number" />

				<input type="text" th:field="*{book.catalogue_number}" class="form-control col-4 mb-4" placeholder="Enter Catalogue Number" />

				<label>Current Owner: <span class="label label-default mb-4" th:text="${checkout.student != null ? checkout.student.name : 'No Current owner'}">
					Default Label</span> </label>

				<div></div>


				<div class="form-check form-switch" >
					<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" th:field="${checkout.book.discard}">
					<label class="form-check-label" for="flexSwitchCheckDefault">Discard</label>
				</div>

				<select class="form-control" id="currentGenre" name="currentGenre" th:field="*{book.genre}" style="width: 370px">
					<option value="">Select Genre:</option>
					<option th:each="g: ${checkout.genres}"
							th:value="${g.genre}"
							th:text="${g.genre}"
							th:selected="${g.genre == checkout.book.genre}">
					</option>
				</select>
				<div></div>


				<button type="submit" class="btn btn-primary col-2">Save</button>
				<input type="hidden" th:field="*{book.id}" />
				<input type="hidden" th:field="*{book.catalogue_number}" />
				
			</form>
			<hr/>
			<a class="btn btn-primary float-right" th:href="@{/generateBarcode(bookID=${checkout.book.id})}"> Download Barcode</a>
			<div></div>
			<a th:href="@{/catalogue}">Back to catalogue</a>
		</div>
		
	</body>
</html>