<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Add Book to Catalogue</title>
		
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
		<link rel="shortcut icon" href="/favicon.ico?ver=1.0">
	</head>
	<body>

		<div class="container">
		
			<h3>Add New Book to Catalogue</h3>
			<hr/>

			<form th:action="@{/saveCatalogue}" th:object="${checkout}" method="POST">
				
				<input type="text" th:field="*{catalogue.name}" class="form-control col-4 mb-4" placeholder="Enter Title" />
				
				<input type="text" th:field="*{catalogue.quantity}" class="form-control col-4 mb-4" placeholder="Enter Quantity" />
				
				<input type="text" th:field="*{catalogue.lastName}" class="form-control col-4 mb-4" placeholder="Enter Author's Last Name" />

				<input type="text" th:field="*{catalogue.firstName}" class="form-control col-4 mb-4" placeholder="Enter Author's First Name" />

				<input type="text" th:field="*{catalogue.century}" class="form-control col-4 mb-4" placeholder="Enter Century" />

				<input type="text" th:field="*{catalogue.shelf}" class="form-control col-4 mb-4" placeholder="Enter Shelf Number" />

				<input type="text" th:field="*{catalogue.version}" class="form-control col-4 mb-4" placeholder="Enter Book Version" />

				<input type="text" th:field="*{catalogue.original_language}" class="form-control col-4 mb-4" placeholder="Enter Original Language" />

				<textarea type="text" th:field="*{catalogue.notes}" class="form-control col-4 mb-4" placeholder="Additional Notes" />

				<select class="custom-select" id="prlSelect" th:field="*{catalogue.PRL}" style="width: 370px; margin-bottom: 15px;">
					<option value="0" selected>Not on the Prescribed Reading List
					<option value="1" selected>On the Prescribed Reading List</option>

				</select>


				<select class="form-control" id="currentGenre" name="currentGenre" th:field="*{catalogue.genre}" style="width: 370px; margin-bottom: 15px;">
					<option value="">Select Genre:</option>
					<option th:each="g: ${checkout.genres}"
							th:value="${g.genre}"
							th:text="${g.genre}"
							th:selected="${g.genre == checkout.catalogue.genre}">
					</option>
				</select>


				
				<button type="submit" class="btn btn-primary col-2">Save</button>
				<input type="hidden" th:field="*{catalogue.id}" />
				
			</form>
			<hr/>
			<a th:href="@{/catalogue}">Back to Catalogue</a>
		</div>
		
	</body>
</html>